/* Write your CSS code here */
.header-content{
    text-align: center;
    font-family: 'Roboto';
}

.nav-menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
}

.nav-link{
    margin: 16px;
    margin-top: 6px;
}